<main class="container">
  <%= link_to sanitize("&larr; Back to customer"), customer_path(@customer) %>

  <div class="header">
    <h1>New entry</h1>
  </div>
  <%= turbo_frame_tag @entry_booking do %>
    <%= render "form", customer: @customer, entry_booking: @entry_booking %>
  <% end %>  
</main>