<div class="customer">
  <%= link_to customer.name, customer_path(customer) %>
  <div class="customer__actions">
    <%= button_to "Delete",
                  customer_path(customer),
                  method: :delete,
                  class: "btn btn--light" %>
    <%= link_to "Edit",
                edit_customer_path(customer),
                class: "btn btn--light" %>
  </div>
</div>
