<main class="container">
  <%= link_to sanitize("&larr; Back to customer"), customer_path(@customer) %>

  <div class="header">
    <h1>Edit customer</h1>
  </div>

  <%= render "form", customer: @customer %>
</main>
